//Index
.logotipo{
  box-sizing: border-box;
  height: 30px;
  width: auto;}

body {
  background-image: url(https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148704189.jpg?w=1060&t=st=1711751306~exp=1711751906~hmac=f551f446c72c0ff1eb43209e684134ed1d5bf4c5e9f7cbdfb02ddb04b76eb061);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
//encuesta
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.navbar {
  background-color: #343a40 !important;
}

.reservation-section {
  background-color: #f8f9fa;
}

footer {
  background-color: #343a40;
}
