
body {
    background-color: #508681;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
  }
  
  p, a {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
  }
  
  .neon-text {
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc, 0 0 40px #00ffcc;
  }
  